# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Kivy/KivyMD
*.kv~
*.log
.kivy/

# App Data (optional)
app/assets/characters/
cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Build & Packaging
build/
dist/
*.egg-info/
*.spec
*.manifest

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject


.buildozer/